.galava {
    background-color: black;
}

.galava__out {}

.galava__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.box {
    display: flex;
    align-items: center;
    width: 751px;
    padding: 10px 16px;
    border: 1px solid grey;
    border-radius: 14px;
    justify-content: space-between;
}

.logo {
    width: 38px;
    height: 38px;

}

.galava__inner-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.galava__inner-menu__list {
    display: flex;
    align-items: center;
}

.text {
    color: #FFFFFF99;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.0001em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.galava__inner-menu__list-img {}

.box_a {
    background-color: #8C45FF66;
    box-shadow: 0px 0px 5px 5px #ffffff4e inset;
    padding: 5px 15px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.0001em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 8px;
    color: #FFFFFF;

}

.burger_button {
    display: none;
}

.boxx {
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 610px) {
    .galava__inner-menu__list {
        display: none;
    }

    .burger_button {
        display: block;
    }

    .box {
        border: none;
    }

}



