.hero {
    background-image: url("/images/Group\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.hero_out {}

.hero__inner {
    padding-top: 100px;

    padding-left: 140px;
}

.hero__inner-box {}

.hero__inner-box_box2 {
    display: flex;
    border: 1px solid grey;
    gap: 20px;
    width: 290px;
    border-radius: 50px;
    padding: 8px;
}

.heru__inner_box2-span {
    background-color: #9855FF;
    padding: 5px 10px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}

.heru__inner_box2 {}

.heru__inner_box2-text {
    color: #9855FF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.0001em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.hero__inner-box_h1 {
    color: white;
    font-family: Inter;
    font-size: 82px;
    font-weight: 500;
    line-height: 84px;
    letter-spacing: -0.0506em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 492px;
    margin-top: 28px;
}

.hero__inner-box_box2-text {
    color: #ffffff;
    margin-top: 28px;
    margin-bottom: 28px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: -0.0001em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 544px;
    opacity: 0.7px;

}

.hero__inner-box_button {
    display: flex;
    border: 0.5px solid grey;
    max-width: 305px;
    border-radius: 8px;
    padding: 4px;
    margin-top: 30px;
}

.hero__input {
    border: none;
    background-color: black;
    border: none;
}

.hero_btn {
    background-color: white;
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 25px;
    border: none;
}










.hero_inner_box_bottom {
    display: flex;
    align-items: center;
    gap: 75px;
    padding-top: 145px;
    width: 1240px;
    padding-bottom: 40px;

}

.heruo_inner_box_bottom {
    //styleName: Body S;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.0001em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: grey;
}

.hero_inner_box_bottom-menu {
    gap: 20px;
    display: flex;
}

.hero_inner_box_bottom_menu {}

.hero_inner_bottom_menu-list-img {
    margin: 35px;

}


@media only screen and (max-width:610px) {
    .heru__inner_box2 {
        margin-left: auto;
        margin-right: auto;
    }

    .hero__inner-box_h1 {
        max-width: 324px;
        height: 138px;
        font-family: Inter;
        font-size: 54px;
        font-weight: 500;
        line-height: 69px;
        letter-spacing: -0.0506em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    .hero__inner-box_box2-text {
        max-width: 315px;
        height: 124px;

    }

    .hero__inner-box_button {
        border: none;
        width: 250px;
        flex-wrap: wrap;
        display: flex;
        gap: 20px;
    }

    .hero__input {
        border: 0.5px solid grey;
        padding: 10px 30px;
        border-radius: 8px;
        max-width: 325px;
    }

    .hero_btn {
        max-width: 320px;
        margin-left: -3px;
        padding: 10px 80px;
    }

    .hero_inner_box_bottom-menu {
        overflow-x: scroll;
        max-width: 300px;
    }
    .heruo_inner_box_bottom {
        display: none;
    }

    .hero__inner {
        padding-left: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}